@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark;
  root: ':root';
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}
@plugin "daisyui/theme" {
  name: 'maintheme';

  --color-primary: '#0A519F';
  --color-secondary: '#E26E11';
  --color-trojan-blue: '#0A519F';
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
